.navbar {
  display: flex;
  justify-content: space-between;
}

.start-potion-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  width: 70%;
  padding: 1em;
}

.add-ingredient-page,
.rename-recipe-page {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  padding: 1em;
}

.form-btn {
  align-self: center;
  width: 50%;
}

.modal-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
